body{
    background: #333 url(first.jpg) center center no-repeat;
    background-size: cover;
    color: #532827; 
}

#container{
    width: 400px;
    margin: 40px auto 0;
    padding: 50px;
    box-sizing: border-box;
    background: url('second.jpg') top left repeat;
    box-shadow: 0 10px 15px -8px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

h1{
    margin: 0 0 10 px;
    padding: 0 0 10 px;
}

form{
    text-align: left;
}

form lable{
    display: block;
    margin: 25px 0;
    font-weight: bold;   
}

form input, form select{
    padding: 8px;
    margin: 10px 0;
}

button{
    background: #6c2726;
    color:whitesmoke;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px 20px;
    width: 100%; 
}

button:hover{
    background: #4c2827;
}

button:active{
    position: relative;
    top: 1px;
}

#result{
    font-size: 50px;
    margin-top: 40px;
}

#result:before{
    content:"Weight amount";
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}


